<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <img src='p1.jpg' style="width:400px;height:200px;" />
</head>

<body>

    <h1>TODO APP</h1><br/>
    <a href="/">Home</a>
    <a href="/newtask">Add New Task</a>
    <a href="/listtasks">List Tasks</a>
    <a href="/updatetasks">Update Tasks</a>
    <a href="/deletetasks">Delete Tasks</a>
    <a href="/deleteall">Delete All</a>
    <a href='/insertDeveloper'>Insert Developer</a>
    <a href='listdevelopers'>List Developers</a>
</body>

</html>