<!DOCTYPE html>

<html>
    <head>
            <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <a href = "http://127.0.0.1:8080">HOME</a>
        <a href = "http://127.0.0.1:8080/listtasks">LIST TASKS</a>
        <form action = 'newtask' method= 'POST'>
            Task Name<input type = 'text' name="TaskName"/><br/>
            Task Due<input type = 'text' name="TaskDue"/><br/>
            Task Description<input type = 'text' name="TaskDes"/><br/>
            <button type = 'submit'>Submit</button>
        </form>

    </body>
</html>