<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>
        <a href="/">Home</a>
        <a href="/newtask">Add New Task</a>
        <a href="/listtasks">List Tasks</a>
        <a href="/updatetasks">Update Tasks</a>
        <a href="/deletetasks">Delete Tasks</a>
        <a href="/deleteall">Delete All</a>
        <a href='/insertDeveloper'>Insert Developer</a>
        <a href='listdevelopers'>List Developers</a>

    </h1>
    <form action="/newtask" method='POST'>
        Task Name<input type='text' name="name" /><br/> Task Assigned to <input type='text' name='assignTo' /><br/> Task Due<input type='date' name="due" /><br/>
        <p style="display: inline;">Task Status</p><select name="status">
                <option value="InProgress">InProgress</option>
                <option value="Complete">Complete</option>
            </select><br/> Task Description<input type='text' name="desc" /><br/>
        <button type='submit'>Submit</button>
    </form>


</body>

</html>